/*==================================
DESKTOP
==================================*/

@media(min-width:992px){

    /* Menú escritorio */

    .nav-desktop{
        display:block;
    }

    /* Ocultar menú móvil */

    .menu-btn{
        display:none;
    }

    .nav-mobile,
    .overlay{
        display:none;
    }

    /* Hero */

    .hero{
        padding-top:135px;
        padding-bottom:55px;
    }

    .hero-container{
        grid-template-columns:1fr 1fr;
        gap:80px;
    }

    .hero h1{
        font-size:4.5rem;
    }

    .hero-benefits{
        grid-template-columns:repeat(3,1fr);
    }

    .hero-image{
        justify-content:flex-end;
    }

}
 

/*==================================
CATEGORÍAS RESPONSIVE
==================================*/

@media(min-width:992px){

    .categorias-grid{

        grid-template-columns:repeat(4,1fr);

    }

    .categoria-card{

        height:380px;

    }

}

/*==================================
PRODUCTOS RESPONSIVE
==================================*/

@media(min-width:992px){

    .productos-grid{
        grid-template-columns:repeat(4,1fr);
    }

}

@media(max-width:992px){

  .hero-container{
    padding-top:10px;
}

}

@media(max-width:700px){

    .hero{
        padding-top:180px;
        padding-bottom:15px;
    }

    .hero-container{
        padding-top:0;
    }

    .hero-image img{
        width:100%;
        border-radius:18px;
    }

    .categorias{
        padding:35px 0;
    }

    .categorias-grid{
        grid-template-columns:repeat(2,minmax(0,1fr));
        gap:12px;
    }

    .categoria-card{
        min-height:220px;
    }

    .categoria-card-link{
        min-height:220px;
    }

    .categoria-image{
        width:68%;
        height:68%;
    }

    .categoria-content{
        padding:14px 12px 15px;
    }

    .categoria-content h3{
        max-width:60%;
        margin-bottom:8px;
        font-size:1.05rem;
    }

    .categoria-link{
        gap:5px;
        font-size:.72rem;
    }

    .categoria-link svg{
        width:14px;
        height:14px;
    }

    .producto-info{
        padding:14px;
    }

    .producto-info h3{
        min-height:3.9em;
        margin-bottom:10px;
        font-size:.95rem;
        line-height:1.3;
    }

    .producto-precio{
        margin-top:auto;
        margin-bottom:12px;
    }

    .producto-btn{
        width:100%;
        min-height:38px;
    }
}