/*==================================
DESKTOP
==================================*/

@media(min-width:992px){

    /* Menú escritorio */

    .nav-desktop{
        display:block;
    }

    /* Ocultar menú móvil */

    .menu-btn{
        display:none;
    }

    .nav-mobile,
    .overlay{
        display:none;
    }

    /* Hero */

    .hero{
        padding-top:135px;
        padding-bottom:55px;
    }

    .hero-container{
        grid-template-columns:1fr 1fr;
        gap:80px;
    }

    .hero h1{
        font-size:4.5rem;
    }

    .hero-benefits{
        grid-template-columns:repeat(3,1fr);
    }

    .hero-image{
        justify-content:flex-end;
    }

}
 

/*==================================
CATEGORÍAS RESPONSIVE
==================================*/

@media(min-width:992px){

    .categorias-grid{

        grid-template-columns:repeat(4,1fr);

    }

    .categoria-card{

        height:380px;

    }

}

/*==================================
PRODUCTOS RESPONSIVE
==================================*/

@media(min-width:992px){

    .productos-grid{
        grid-template-columns:repeat(4,1fr);
    }

}

@media(max-width:992px){

  .hero-container{
    padding-top:10px;
}

}